Write a SELECT statement that lists the customers. Include the CustomerID, StoreID, and AccountNumber columns from the Sales.Customer table.

In [1]:
SELECT CustomerID, StoreID, AccountNumber
FROM [Sales].[Customer];

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Sales.Customer'.